{% extends "WebSite/templates_skeleton.html" %}

{% block title %}A propos de moi{% endblock %}

{% block content %}

<h1>A propos de moi</h1>
<br><br>
<p>Je me présente. Je suis Grenoux Nicolas, jeune développeur de 25 ans.</p>
<p>Je me suis découvert une attirance pour le développement après avoir passé deux premières années de licence en
sciences fondamentales à l'Université de Poitiers (86).</p>
<p>Suite à cela, je suis entré en BTS SIO (Services Informatiques aux Organisations) spécialité SLAM
    (Solutions Logicielles Applications Métier) en alternance obtenu au Cipecma de Chatêlaillon-Plage (17),
    l'entreprise m'ayant accueilli pour cette formation est Malichaud Atlantique à Rochefort (33), une entreprise
    spécialisée dans l'aéronautique.
    Puis j'ai voulu continuer sur un Bachelor RIL (Responsable en Ingénierie des Logiciels)
    au sein du CESI Alternance de La Rochelle (17) et dans l'entreprise Tribofilm à La Rochelle.</p>
<p>A présent, je suis inscrit à la 3W Academy en formation de développeur d'Intelligence Artificielle en alternance.</p>
<p>D'un point de vue technique, mes études m'ont permis d'obtenir des connaissances en PHP natif, CSS, HTML,
PowerShell, SQL avec MySQL, en automatisation et en sécurisation.</p>
<p>Voulant découvrir d'autres langages, je me suis donc créé une base en me formant en autodidacte sur
    les langages Swift et Python. J'apprécie tout particulièrement ce dernier,
    c'est pourquoi j'ai continué de me former, toujours en autodidacte, sur le langage Python.</p>
<p>Professionnellement, je souhaite être développeur d'IA voir Data Scientist.</p>

{% endblock %}