{% extends "WebSite/templates_skeleton.html" %}

{% block title %}Site web{% endblock %}

{% block content %}

<h1>Le site web</h1>
<br><br>
<p>Le site web dans lequel vous vous trouvez est entièrement coder par mes soins. Comme il est inutile de montrer
des images du site, je vais plutôt vous donner des détails sur sa conception.</p>
<p>Ce projet a pour but, non seulement de m'exercer sur le développement back-end en Python, mais également
de montrer à tous les visiteurs mon savoir-faire dans le développement et mes futurs projets. Bien que l'exemple soit
    simple (puisque c'est un site 'vitrine'), il n'en reste pas moins une petite fierté personnelle puisque je
n'avais jamais touché de Framework back-end pour le développement web.</p>
<p>Puisqu'on en parle. J'ai réalisé ce site grâce à un Framework Python, j'ai nommé Django, côté back-end, et
côté front-end, j'ai utilisé du HTML et du CSS via le Framework BootStrap (que j'utilisais déjà durant mon BTS).</p>
<p>Le code du site sera bien évidemment disponible sur mon <a href="https://github.com/Fenbjorn">GitHub</a> .</p>

{% endblock %}